
#chart{
    overflow-y:auto;
    
  }

#chart svg{
max-width: initial;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Jost', sans-serif;
    color: #4D4D4D;
}

h1{
    margin-block-end:0;
}
h3{
    margin-block-start: 0;
}

.rusia{
    color: #E43D3F;
}

.usa{
    color: #32458A;
}

text, P {
    font-family: 'Jost', sans-serif;
    color: #4D4D4D;
}

